# build artifacts
bin/**
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# go
go.work
go.work.sum

# docs
# self documentation directory
docs/local/**

# env
.env
.envrc

# temporary files
.DS_Store
*.log
*.tmp

# editor
.idea/
*.swp
*.swo
